<?xml version="1.0" encoding="UTF-8"?>
<java version="1.7.0_21" class="java.beans.XMLDecoder">
 <object class="com.horstmann.violet.SequenceDiagramGraph">
  <void method="addNode">
   <object class="com.horstmann.violet.ImplicitParameterNode" id="LifelineNode0">
    <void property="name">
     <void property="text">
      <string>&lt;&lt;actor&gt;&gt;
Controller</string>
     </void>
    </void>
   </object>
   <object class="java.awt.geom.Point2D$Double" id="Point2D$Double0">
    <void class="java.awt.geom.Point2D$Double" method="getField">
     <string>x</string>
     <void method="set">
      <object idref="Point2D$Double0"/>
      <double>71.0</double>
     </void>
    </void>
    <void method="setLocation">
     <double>71.0</double>
     <double>0.0</double>
    </void>
   </object>
  </void>
  <void method="addNode">
   <object class="com.horstmann.violet.ImplicitParameterNode" id="LifelineNode1">
    <void property="name">
     <void property="text">
      <string>Interface</string>
     </void>
    </void>
   </object>
   <object class="java.awt.geom.Point2D$Double" id="Point2D$Double1">
    <void class="java.awt.geom.Point2D$Double" method="getField">
     <string>x</string>
     <void method="set">
      <object idref="Point2D$Double1"/>
      <double>333.0</double>
     </void>
    </void>
    <void method="setLocation">
     <double>333.0</double>
     <double>0.0</double>
    </void>
   </object>
  </void>
  <void method="addNode">
   <object class="com.horstmann.violet.CallNode" id="ActivationBarNode0">
    <void method="addChild">
     <object class="com.horstmann.violet.CallNode" id="ActivationBarNode1">
      <void method="addChild">
       <object class="com.horstmann.violet.ImplicitParameterNode" id="LifelineNode2">
        <void property="name">
         <void property="text">
          <string>Roster</string>
         </void>
        </void>
       </object>
      </void>
      <void property="implicitParameter">
       <object idref="LifelineNode1"/>
      </void>
     </object>
    </void>
    <void property="implicitParameter">
     <object idref="LifelineNode0"/>
    </void>
   </object>
   <object class="java.awt.geom.Point2D$Double" id="Point2D$Double2">
    <void class="java.awt.geom.Point2D$Double" method="getField">
     <string>x</string>
     <void method="set">
      <object idref="Point2D$Double2"/>
      <double>103.0</double>
     </void>
    </void>
    <void class="java.awt.geom.Point2D$Double" method="getField">
     <string>y</string>
     <void method="set">
      <object idref="Point2D$Double2"/>
      <double>80.0</double>
     </void>
    </void>
    <void method="setLocation">
     <double>103.0</double>
     <double>80.0</double>
    </void>
   </object>
  </void>
  <void method="addNode">
   <object idref="ActivationBarNode1"/>
   <object class="java.awt.geom.Point2D$Double" id="Point2D$Double3">
    <void class="java.awt.geom.Point2D$Double" method="getField">
     <string>x</string>
     <void method="set">
      <object idref="Point2D$Double3"/>
      <double>365.0</double>
     </void>
    </void>
    <void class="java.awt.geom.Point2D$Double" method="getField">
     <string>y</string>
     <void method="set">
      <object idref="Point2D$Double3"/>
      <double>103.0</double>
     </void>
    </void>
    <void method="setLocation">
     <double>365.0</double>
     <double>103.0</double>
    </void>
   </object>
  </void>
  <void method="addNode">
   <object class="com.horstmann.violet.ImplicitParameterNode" id="LifelineNode3">
    <void property="name">
     <void property="text">
      <string>&lt;&lt;actor&gt;&gt;
Driver</string>
     </void>
    </void>
   </object>
   <object class="java.awt.geom.Point2D$Double" id="Point2D$Double4">
    <void class="java.awt.geom.Point2D$Double" method="getField">
     <string>x</string>
     <void method="set">
      <object idref="Point2D$Double4"/>
      <double>205.0</double>
     </void>
    </void>
    <void method="setLocation">
     <double>205.0</double>
     <double>0.0</double>
    </void>
   </object>
  </void>
  <void method="addNode">
   <object idref="LifelineNode2"/>
   <object class="java.awt.geom.Point2D$Double" id="Point2D$Double5">
    <void class="java.awt.geom.Point2D$Double" method="getField">
     <string>x</string>
     <void method="set">
      <object idref="Point2D$Double5"/>
      <double>461.0</double>
     </void>
    </void>
    <void class="java.awt.geom.Point2D$Double" method="getField">
     <string>y</string>
     <void method="set">
      <object idref="Point2D$Double5"/>
      <double>96.0</double>
     </void>
    </void>
    <void method="setLocation">
     <double>461.0</double>
     <double>96.0</double>
    </void>
   </object>
  </void>
  <void method="addNode">
   <object class="com.horstmann.violet.ImplicitParameterNode" id="LifelineNode4">
    <void property="name">
     <void property="text">
      <string>Bus</string>
     </void>
    </void>
   </object>
   <object class="java.awt.geom.Point2D$Double" id="Point2D$Double6">
    <void class="java.awt.geom.Point2D$Double" method="getField">
     <string>x</string>
     <void method="set">
      <object idref="Point2D$Double6"/>
      <double>584.0</double>
     </void>
    </void>
    <void method="setLocation">
     <double>584.0</double>
     <double>0.0</double>
    </void>
   </object>
  </void>
  <void method="addNode">
   <object class="com.horstmann.violet.ImplicitParameterNode" id="LifelineNode5">
    <void property="name">
     <void property="text">
      <string>BusInfo</string>
     </void>
    </void>
   </object>
   <object class="java.awt.geom.Point2D$Double" id="Point2D$Double7">
    <void class="java.awt.geom.Point2D$Double" method="getField">
     <string>x</string>
     <void method="set">
      <object idref="Point2D$Double7"/>
      <double>707.0</double>
     </void>
    </void>
    <void method="setLocation">
     <double>707.0</double>
     <double>0.0</double>
    </void>
   </object>
  </void>
  <void method="addNode">
   <object class="com.horstmann.violet.ImplicitParameterNode" id="LifelineNode6">
    <void property="name">
     <void property="text">
      <string>Driver</string>
     </void>
    </void>
   </object>
   <object class="java.awt.geom.Point2D$Double" id="Point2D$Double8">
    <void class="java.awt.geom.Point2D$Double" method="getField">
     <string>x</string>
     <void method="set">
      <object idref="Point2D$Double8"/>
      <double>827.0</double>
     </void>
    </void>
    <void method="setLocation">
     <double>827.0</double>
     <double>0.0</double>
    </void>
   </object>
  </void>
  <void method="addNode">
   <object class="com.horstmann.violet.ImplicitParameterNode" id="LifelineNode7">
    <void property="name">
     <void property="text">
      <string>DriverInfo</string>
     </void>
    </void>
   </object>
   <object class="java.awt.geom.Point2D$Double" id="Point2D$Double9">
    <void class="java.awt.geom.Point2D$Double" method="getField">
     <string>x</string>
     <void method="set">
      <object idref="Point2D$Double9"/>
      <double>954.0</double>
     </void>
    </void>
    <void method="setLocation">
     <double>954.0</double>
     <double>0.0</double>
    </void>
   </object>
  </void>
  <void method="addNode">
   <object class="com.horstmann.violet.ImplicitParameterNode" id="LifelineNode8">
    <void property="name">
     <void property="text">
      <string>TimetableInfo</string>
     </void>
    </void>
   </object>
   <object class="java.awt.geom.Point2D$Double" id="Point2D$Double10">
    <void class="java.awt.geom.Point2D$Double" method="getField">
     <string>x</string>
     <void method="set">
      <object idref="Point2D$Double10"/>
      <double>1076.0</double>
     </void>
    </void>
    <void method="setLocation">
     <double>1076.0</double>
     <double>0.0</double>
    </void>
   </object>
  </void>
  <void method="addNode">
   <object class="com.horstmann.violet.ImplicitParameterNode" id="LifelineNode9">
    <void property="name">
     <void property="text">
      <string>&lt;&lt;actor&gt;&gt;
Database</string>
     </void>
    </void>
   </object>
   <object class="java.awt.geom.Point2D$Double" id="Point2D$Double11">
    <void class="java.awt.geom.Point2D$Double" method="getField">
     <string>x</string>
     <void method="set">
      <object idref="Point2D$Double11"/>
      <double>1211.0</double>
     </void>
    </void>
    <void method="setLocation">
     <double>1211.0</double>
     <double>0.0</double>
    </void>
   </object>
  </void>
  <void method="addNode">
   <object class="com.horstmann.violet.CallNode" id="ActivationBarNode2">
    <void method="addChild">
     <object class="com.horstmann.violet.CallNode" id="ActivationBarNode3">
      <void method="addChild">
       <object class="com.horstmann.violet.CallNode" id="ActivationBarNode4">
        <void method="addChild">
         <object class="com.horstmann.violet.CallNode" id="ActivationBarNode5">
          <void property="implicitParameter">
           <object idref="LifelineNode9"/>
          </void>
         </object>
        </void>
        <void property="implicitParameter">
         <object idref="LifelineNode5"/>
        </void>
       </object>
      </void>
      <void property="implicitParameter">
       <object idref="LifelineNode4"/>
      </void>
     </object>
    </void>
    <void method="addChild">
     <object class="com.horstmann.violet.CallNode" id="ActivationBarNode6">
      <void method="addChild">
       <object class="com.horstmann.violet.CallNode" id="ActivationBarNode7">
        <void method="addChild">
         <object class="com.horstmann.violet.CallNode" id="ActivationBarNode8">
          <void property="implicitParameter">
           <object idref="LifelineNode9"/>
          </void>
         </object>
        </void>
        <void property="implicitParameter">
         <object idref="LifelineNode7"/>
        </void>
       </object>
      </void>
      <void property="implicitParameter">
       <object idref="LifelineNode6"/>
      </void>
     </object>
    </void>
    <void method="addChild">
     <object class="com.horstmann.violet.CallNode" id="ActivationBarNode9">
      <void property="implicitParameter">
       <object idref="LifelineNode8"/>
      </void>
     </object>
    </void>
    <void method="addChild">
     <object class="com.horstmann.violet.CallNode" id="ActivationBarNode10">
      <void method="addChild">
       <object class="com.horstmann.violet.CallNode" id="ActivationBarNode11">
        <void method="addChild">
         <object class="com.horstmann.violet.CallNode" id="ActivationBarNode12">
          <void property="implicitParameter">
           <object idref="LifelineNode9"/>
          </void>
         </object>
        </void>
        <void property="implicitParameter">
         <object idref="LifelineNode5"/>
        </void>
       </object>
      </void>
      <void property="implicitParameter">
       <object idref="LifelineNode4"/>
      </void>
     </object>
    </void>
    <void method="addChild">
     <object class="com.horstmann.violet.CallNode" id="ActivationBarNode13">
      <void method="addChild">
       <object class="com.horstmann.violet.CallNode" id="ActivationBarNode14">
        <void method="addChild">
         <object class="com.horstmann.violet.CallNode" id="ActivationBarNode15">
          <void property="implicitParameter">
           <object idref="LifelineNode9"/>
          </void>
         </object>
        </void>
        <void property="implicitParameter">
         <object idref="LifelineNode7"/>
        </void>
       </object>
      </void>
      <void property="implicitParameter">
       <object idref="LifelineNode6"/>
      </void>
     </object>
    </void>
    <void method="addChild">
     <object class="com.horstmann.violet.CallNode" id="ActivationBarNode16">
      <void property="implicitParameter">
       <object idref="LifelineNode9"/>
      </void>
     </object>
    </void>
    <void property="implicitParameter">
     <object idref="LifelineNode2"/>
    </void>
   </object>
   <object class="java.awt.geom.Point2D$Double" id="Point2D$Double12">
    <void class="java.awt.geom.Point2D$Double" method="getField">
     <string>x</string>
     <void method="set">
      <object idref="Point2D$Double12"/>
      <double>493.0</double>
     </void>
    </void>
    <void class="java.awt.geom.Point2D$Double" method="getField">
     <string>y</string>
     <void method="set">
      <object idref="Point2D$Double12"/>
      <double>216.0</double>
     </void>
    </void>
    <void method="setLocation">
     <double>493.0</double>
     <double>216.0</double>
    </void>
   </object>
  </void>
  <void method="addNode">
   <object idref="ActivationBarNode3"/>
   <object class="java.awt.geom.Point2D$Double" id="Point2D$Double13">
    <void class="java.awt.geom.Point2D$Double" method="getField">
     <string>x</string>
     <void method="set">
      <object idref="Point2D$Double13"/>
      <double>616.0</double>
     </void>
    </void>
    <void class="java.awt.geom.Point2D$Double" method="getField">
     <string>y</string>
     <void method="set">
      <object idref="Point2D$Double13"/>
      <double>239.0</double>
     </void>
    </void>
    <void method="setLocation">
     <double>616.0</double>
     <double>239.0</double>
    </void>
   </object>
  </void>
  <void method="addNode">
   <object idref="ActivationBarNode4"/>
   <object class="java.awt.geom.Point2D$Double" id="Point2D$Double14">
    <void class="java.awt.geom.Point2D$Double" method="getField">
     <string>x</string>
     <void method="set">
      <object idref="Point2D$Double14"/>
      <double>739.0</double>
     </void>
    </void>
    <void class="java.awt.geom.Point2D$Double" method="getField">
     <string>y</string>
     <void method="set">
      <object idref="Point2D$Double14"/>
      <double>262.0</double>
     </void>
    </void>
    <void method="setLocation">
     <double>739.0</double>
     <double>262.0</double>
    </void>
   </object>
  </void>
  <void method="addNode">
   <object idref="ActivationBarNode5"/>
   <object class="java.awt.geom.Point2D$Double" id="Point2D$Double15">
    <void class="java.awt.geom.Point2D$Double" method="getField">
     <string>x</string>
     <void method="set">
      <object idref="Point2D$Double15"/>
      <double>1243.0</double>
     </void>
    </void>
    <void class="java.awt.geom.Point2D$Double" method="getField">
     <string>y</string>
     <void method="set">
      <object idref="Point2D$Double15"/>
      <double>285.0</double>
     </void>
    </void>
    <void method="setLocation">
     <double>1243.0</double>
     <double>285.0</double>
    </void>
   </object>
  </void>
  <void method="addNode">
   <object idref="ActivationBarNode6"/>
   <object class="java.awt.geom.Point2D$Double" id="Point2D$Double16">
    <void class="java.awt.geom.Point2D$Double" method="getField">
     <string>x</string>
     <void method="set">
      <object idref="Point2D$Double16"/>
      <double>859.0</double>
     </void>
    </void>
    <void class="java.awt.geom.Point2D$Double" method="getField">
     <string>y</string>
     <void method="set">
      <object idref="Point2D$Double16"/>
      <double>378.0</double>
     </void>
    </void>
    <void method="setLocation">
     <double>859.0</double>
     <double>378.0</double>
    </void>
   </object>
  </void>
  <void method="addNode">
   <object idref="ActivationBarNode7"/>
   <object class="java.awt.geom.Point2D$Double" id="Point2D$Double17">
    <void class="java.awt.geom.Point2D$Double" method="getField">
     <string>x</string>
     <void method="set">
      <object idref="Point2D$Double17"/>
      <double>986.0</double>
     </void>
    </void>
    <void class="java.awt.geom.Point2D$Double" method="getField">
     <string>y</string>
     <void method="set">
      <object idref="Point2D$Double17"/>
      <double>401.0</double>
     </void>
    </void>
    <void method="setLocation">
     <double>986.0</double>
     <double>401.0</double>
    </void>
   </object>
  </void>
  <void method="addNode">
   <object idref="ActivationBarNode8"/>
   <object class="java.awt.geom.Point2D$Double" id="Point2D$Double18">
    <void class="java.awt.geom.Point2D$Double" method="getField">
     <string>x</string>
     <void method="set">
      <object idref="Point2D$Double18"/>
      <double>1243.0</double>
     </void>
    </void>
    <void class="java.awt.geom.Point2D$Double" method="getField">
     <string>y</string>
     <void method="set">
      <object idref="Point2D$Double18"/>
      <double>424.0</double>
     </void>
    </void>
    <void method="setLocation">
     <double>1243.0</double>
     <double>424.0</double>
    </void>
   </object>
  </void>
  <void method="addNode">
   <object idref="ActivationBarNode9"/>
   <object class="java.awt.geom.Point2D$Double" id="Point2D$Double19">
    <void class="java.awt.geom.Point2D$Double" method="getField">
     <string>x</string>
     <void method="set">
      <object idref="Point2D$Double19"/>
      <double>1108.0</double>
     </void>
    </void>
    <void class="java.awt.geom.Point2D$Double" method="getField">
     <string>y</string>
     <void method="set">
      <object idref="Point2D$Double19"/>
      <double>517.0</double>
     </void>
    </void>
    <void method="setLocation">
     <double>1108.0</double>
     <double>517.0</double>
    </void>
   </object>
  </void>
  <void method="addNode">
   <object idref="ActivationBarNode10"/>
   <object class="java.awt.geom.Point2D$Double" id="Point2D$Double20">
    <void class="java.awt.geom.Point2D$Double" method="getField">
     <string>x</string>
     <void method="set">
      <object idref="Point2D$Double20"/>
      <double>616.0</double>
     </void>
    </void>
    <void class="java.awt.geom.Point2D$Double" method="getField">
     <string>y</string>
     <void method="set">
      <object idref="Point2D$Double20"/>
      <double>570.0</double>
     </void>
    </void>
    <void method="setLocation">
     <double>616.0</double>
     <double>570.0</double>
    </void>
   </object>
  </void>
  <void method="addNode">
   <object idref="ActivationBarNode11"/>
   <object class="java.awt.geom.Point2D$Double" id="Point2D$Double21">
    <void class="java.awt.geom.Point2D$Double" method="getField">
     <string>x</string>
     <void method="set">
      <object idref="Point2D$Double21"/>
      <double>739.0</double>
     </void>
    </void>
    <void class="java.awt.geom.Point2D$Double" method="getField">
     <string>y</string>
     <void method="set">
      <object idref="Point2D$Double21"/>
      <double>593.0</double>
     </void>
    </void>
    <void method="setLocation">
     <double>739.0</double>
     <double>593.0</double>
    </void>
   </object>
  </void>
  <void method="addNode">
   <object idref="ActivationBarNode12"/>
   <object class="java.awt.geom.Point2D$Double" id="Point2D$Double22">
    <void class="java.awt.geom.Point2D$Double" method="getField">
     <string>x</string>
     <void method="set">
      <object idref="Point2D$Double22"/>
      <double>1243.0</double>
     </void>
    </void>
    <void class="java.awt.geom.Point2D$Double" method="getField">
     <string>y</string>
     <void method="set">
      <object idref="Point2D$Double22"/>
      <double>616.0</double>
     </void>
    </void>
    <void method="setLocation">
     <double>1243.0</double>
     <double>616.0</double>
    </void>
   </object>
  </void>
  <void method="addNode">
   <object idref="ActivationBarNode13"/>
   <object class="java.awt.geom.Point2D$Double" id="Point2D$Double23">
    <void class="java.awt.geom.Point2D$Double" method="getField">
     <string>x</string>
     <void method="set">
      <object idref="Point2D$Double23"/>
      <double>859.0</double>
     </void>
    </void>
    <void class="java.awt.geom.Point2D$Double" method="getField">
     <string>y</string>
     <void method="set">
      <object idref="Point2D$Double23"/>
      <double>709.0</double>
     </void>
    </void>
    <void method="setLocation">
     <double>859.0</double>
     <double>709.0</double>
    </void>
   </object>
  </void>
  <void method="addNode">
   <object idref="ActivationBarNode14"/>
   <object class="java.awt.geom.Point2D$Double" id="Point2D$Double24">
    <void class="java.awt.geom.Point2D$Double" method="getField">
     <string>x</string>
     <void method="set">
      <object idref="Point2D$Double24"/>
      <double>986.0</double>
     </void>
    </void>
    <void class="java.awt.geom.Point2D$Double" method="getField">
     <string>y</string>
     <void method="set">
      <object idref="Point2D$Double24"/>
      <double>732.0</double>
     </void>
    </void>
    <void method="setLocation">
     <double>986.0</double>
     <double>732.0</double>
    </void>
   </object>
  </void>
  <void method="addNode">
   <object idref="ActivationBarNode15"/>
   <object class="java.awt.geom.Point2D$Double" id="Point2D$Double25">
    <void class="java.awt.geom.Point2D$Double" method="getField">
     <string>x</string>
     <void method="set">
      <object idref="Point2D$Double25"/>
      <double>1243.0</double>
     </void>
    </void>
    <void class="java.awt.geom.Point2D$Double" method="getField">
     <string>y</string>
     <void method="set">
      <object idref="Point2D$Double25"/>
      <double>755.0</double>
     </void>
    </void>
    <void method="setLocation">
     <double>1243.0</double>
     <double>755.0</double>
    </void>
   </object>
  </void>
  <void method="addNode">
   <object idref="ActivationBarNode16"/>
   <object class="java.awt.geom.Point2D$Double" id="Point2D$Double26">
    <void class="java.awt.geom.Point2D$Double" method="getField">
     <string>x</string>
     <void method="set">
      <object idref="Point2D$Double26"/>
      <double>1243.0</double>
     </void>
    </void>
    <void class="java.awt.geom.Point2D$Double" method="getField">
     <string>y</string>
     <void method="set">
      <object idref="Point2D$Double26"/>
      <double>848.0</double>
     </void>
    </void>
    <void method="setLocation">
     <double>1243.0</double>
     <double>848.0</double>
    </void>
   </object>
  </void>
  <void method="addNode">
   <object class="com.horstmann.violet.CallNode" id="ActivationBarNode17">
    <void method="addChild">
     <object class="com.horstmann.violet.CallNode" id="ActivationBarNode18">
      <void method="addChild">
       <object class="com.horstmann.violet.CallNode" id="ActivationBarNode19">
        <void property="implicitParameter">
         <object idref="LifelineNode9"/>
        </void>
       </object>
      </void>
      <void property="implicitParameter">
       <object idref="LifelineNode1"/>
      </void>
     </object>
    </void>
    <void property="implicitParameter">
     <object idref="LifelineNode3"/>
    </void>
   </object>
   <object class="java.awt.geom.Point2D$Double" id="Point2D$Double27">
    <void class="java.awt.geom.Point2D$Double" method="getField">
     <string>x</string>
     <void method="set">
      <object idref="Point2D$Double27"/>
      <double>237.0</double>
     </void>
    </void>
    <void class="java.awt.geom.Point2D$Double" method="getField">
     <string>y</string>
     <void method="set">
      <object idref="Point2D$Double27"/>
      <double>1054.0</double>
     </void>
    </void>
    <void method="setLocation">
     <double>237.0</double>
     <double>1054.0</double>
    </void>
   </object>
  </void>
  <void method="addNode">
   <object idref="ActivationBarNode18"/>
   <object class="java.awt.geom.Point2D$Double" id="Point2D$Double28">
    <void class="java.awt.geom.Point2D$Double" method="getField">
     <string>x</string>
     <void method="set">
      <object idref="Point2D$Double28"/>
      <double>365.0</double>
     </void>
    </void>
    <void class="java.awt.geom.Point2D$Double" method="getField">
     <string>y</string>
     <void method="set">
      <object idref="Point2D$Double28"/>
      <double>1077.0</double>
     </void>
    </void>
    <void method="setLocation">
     <double>365.0</double>
     <double>1077.0</double>
    </void>
   </object>
  </void>
  <void method="addNode">
   <object idref="ActivationBarNode19"/>
   <object class="java.awt.geom.Point2D$Double" id="Point2D$Double29">
    <void class="java.awt.geom.Point2D$Double" method="getField">
     <string>x</string>
     <void method="set">
      <object idref="Point2D$Double29"/>
      <double>1243.0</double>
     </void>
    </void>
    <void class="java.awt.geom.Point2D$Double" method="getField">
     <string>y</string>
     <void method="set">
      <object idref="Point2D$Double29"/>
      <double>1100.0</double>
     </void>
    </void>
    <void method="setLocation">
     <double>1243.0</double>
     <double>1100.0</double>
    </void>
   </object>
  </void>
  <void method="addNode">
   <object class="com.horstmann.violet.CallNode" id="ActivationBarNode20">
    <void method="addChild">
     <object class="com.horstmann.violet.CallNode" id="ActivationBarNode21">
      <void method="addChild">
       <object class="com.horstmann.violet.CallNode" id="ActivationBarNode22">
        <void property="implicitParameter">
         <object idref="LifelineNode9"/>
        </void>
       </object>
      </void>
      <void property="implicitParameter">
       <object idref="LifelineNode1"/>
      </void>
     </object>
    </void>
    <void property="implicitParameter">
     <object idref="LifelineNode0"/>
    </void>
   </object>
   <object class="java.awt.geom.Point2D$Double" id="Point2D$Double30">
    <void class="java.awt.geom.Point2D$Double" method="getField">
     <string>x</string>
     <void method="set">
      <object idref="Point2D$Double30"/>
      <double>103.0</double>
     </void>
    </void>
    <void class="java.awt.geom.Point2D$Double" method="getField">
     <string>y</string>
     <void method="set">
      <object idref="Point2D$Double30"/>
      <double>918.0</double>
     </void>
    </void>
    <void method="setLocation">
     <double>103.0</double>
     <double>918.0</double>
    </void>
   </object>
  </void>
  <void method="addNode">
   <object idref="ActivationBarNode21"/>
   <object class="java.awt.geom.Point2D$Double" id="Point2D$Double31">
    <void class="java.awt.geom.Point2D$Double" method="getField">
     <string>x</string>
     <void method="set">
      <object idref="Point2D$Double31"/>
      <double>365.0</double>
     </void>
    </void>
    <void class="java.awt.geom.Point2D$Double" method="getField">
     <string>y</string>
     <void method="set">
      <object idref="Point2D$Double31"/>
      <double>941.0</double>
     </void>
    </void>
    <void method="setLocation">
     <double>365.0</double>
     <double>941.0</double>
    </void>
   </object>
  </void>
  <void method="addNode">
   <object idref="ActivationBarNode22"/>
   <object class="java.awt.geom.Point2D$Double" id="Point2D$Double32">
    <void class="java.awt.geom.Point2D$Double" method="getField">
     <string>x</string>
     <void method="set">
      <object idref="Point2D$Double32"/>
      <double>1243.0</double>
     </void>
    </void>
    <void class="java.awt.geom.Point2D$Double" method="getField">
     <string>y</string>
     <void method="set">
      <object idref="Point2D$Double32"/>
      <double>964.0</double>
     </void>
    </void>
    <void method="setLocation">
     <double>1243.0</double>
     <double>964.0</double>
    </void>
   </object>
  </void>
  <void method="connect">
   <object class="com.horstmann.violet.CallEdge">
    <void property="middleLabel">
     <string>requestRoster</string>
    </void>
   </object>
   <object idref="ActivationBarNode0"/>
   <object idref="ActivationBarNode1"/>
  </void>
  <void method="connect">
   <object class="com.horstmann.violet.CallEdge">
    <void property="middleLabel">
     <string>«create»</string>
    </void>
   </object>
   <object idref="ActivationBarNode1"/>
   <object idref="LifelineNode2"/>
  </void>
  <void method="connect">
   <object class="com.horstmann.violet.CallEdge">
    <void property="middleLabel">
     <string>requestAvailableBuses</string>
    </void>
   </object>
   <object idref="ActivationBarNode2"/>
   <object idref="ActivationBarNode3"/>
  </void>
  <void method="connect">
   <object class="com.horstmann.violet.CallEdge">
    <void property="middleLabel">
     <string>isAvailable</string>
    </void>
   </object>
   <object idref="ActivationBarNode3"/>
   <object idref="ActivationBarNode4"/>
  </void>
  <void method="connect">
   <object class="com.horstmann.violet.CallEdge">
    <void property="middleLabel">
     <string>retriveAvailableBuses</string>
    </void>
   </object>
   <object idref="ActivationBarNode4"/>
   <object idref="ActivationBarNode5"/>
  </void>
  <void method="connect">
   <object class="com.horstmann.violet.ReturnEdge">
    <void property="middleLabel">
     <string>returnAvailableBuses</string>
    </void>
   </object>
   <object idref="ActivationBarNode5"/>
   <object idref="ActivationBarNode4"/>
  </void>
  <void method="connect">
   <object class="com.horstmann.violet.ReturnEdge">
    <void property="middleLabel">
     <string>returnAvailable</string>
    </void>
   </object>
   <object idref="ActivationBarNode4"/>
   <object idref="ActivationBarNode3"/>
  </void>
  <void method="connect">
   <object class="com.horstmann.violet.ReturnEdge">
    <void property="middleLabel">
     <string>returnBusInfo</string>
    </void>
   </object>
   <object idref="ActivationBarNode3"/>
   <object idref="ActivationBarNode2"/>
  </void>
  <void method="connect">
   <object class="com.horstmann.violet.CallEdge">
    <void property="middleLabel">
     <string>requestAvailableDrivers</string>
    </void>
   </object>
   <object idref="ActivationBarNode2"/>
   <object idref="ActivationBarNode6"/>
  </void>
  <void method="connect">
   <object class="com.horstmann.violet.CallEdge">
    <void property="middleLabel">
     <string>isAvailable</string>
    </void>
   </object>
   <object idref="ActivationBarNode6"/>
   <object idref="ActivationBarNode7"/>
  </void>
  <void method="connect">
   <object class="com.horstmann.violet.CallEdge">
    <void property="middleLabel">
     <string>retriveAvailableDrivers</string>
    </void>
   </object>
   <object idref="ActivationBarNode7"/>
   <object idref="ActivationBarNode8"/>
  </void>
  <void method="connect">
   <object class="com.horstmann.violet.ReturnEdge">
    <void property="middleLabel">
     <string>returAvailableDrivers</string>
    </void>
   </object>
   <object idref="ActivationBarNode8"/>
   <object idref="ActivationBarNode7"/>
  </void>
  <void method="connect">
   <object class="com.horstmann.violet.ReturnEdge">
    <void property="middleLabel">
     <string>returnAvailable</string>
    </void>
   </object>
   <object idref="ActivationBarNode7"/>
   <object idref="ActivationBarNode6"/>
  </void>
  <void method="connect">
   <object class="com.horstmann.violet.ReturnEdge">
    <void property="middleLabel">
     <string>returnDriversInfo</string>
    </void>
   </object>
   <object idref="ActivationBarNode6"/>
   <object idref="ActivationBarNode2"/>
  </void>
  <void method="connect">
   <object class="com.horstmann.violet.CallEdge">
    <void property="middleLabel">
     <string>requestAllServices</string>
    </void>
   </object>
   <object idref="ActivationBarNode2"/>
   <object idref="ActivationBarNode9"/>
  </void>
  <void method="connect">
   <object class="com.horstmann.violet.ReturnEdge">
    <void property="middleLabel">
     <string>returnAllServices</string>
    </void>
   </object>
   <object idref="ActivationBarNode9"/>
   <object idref="ActivationBarNode2"/>
  </void>
  <void method="connect">
   <object class="com.horstmann.violet.CallEdge">
    <void property="middleLabel">
     <string>updateAssignedBuses</string>
    </void>
   </object>
   <object idref="ActivationBarNode2"/>
   <object idref="ActivationBarNode10"/>
  </void>
  <void method="connect">
   <object class="com.horstmann.violet.CallEdge">
    <void property="middleLabel">
     <string>updateBusInfo</string>
    </void>
   </object>
   <object idref="ActivationBarNode10"/>
   <object idref="ActivationBarNode11"/>
  </void>
  <void method="connect">
   <object class="com.horstmann.violet.CallEdge">
    <void property="middleLabel">
     <string>update</string>
    </void>
   </object>
   <object idref="ActivationBarNode11"/>
   <object idref="ActivationBarNode12"/>
  </void>
  <void method="connect">
   <object class="com.horstmann.violet.CallEdge">
    <void property="middleLabel">
     <string>updateAssignedDrivers</string>
    </void>
   </object>
   <object idref="ActivationBarNode2"/>
   <object idref="ActivationBarNode13"/>
  </void>
  <void method="connect">
   <object class="com.horstmann.violet.CallEdge">
    <void property="middleLabel">
     <string>updateDriversInfo</string>
    </void>
   </object>
   <object idref="ActivationBarNode13"/>
   <object idref="ActivationBarNode14"/>
  </void>
  <void method="connect">
   <object class="com.horstmann.violet.CallEdge">
    <void property="middleLabel">
     <string>update</string>
    </void>
   </object>
   <object idref="ActivationBarNode14"/>
   <object idref="ActivationBarNode15"/>
  </void>
  <void method="connect">
   <object class="com.horstmann.violet.CallEdge">
    <void property="middleLabel">
     <string>saveRoster</string>
    </void>
   </object>
   <object idref="ActivationBarNode2"/>
   <object idref="ActivationBarNode16"/>
  </void>
  <void method="connect">
   <object class="com.horstmann.violet.CallEdge">
    <void property="middleLabel">
     <string>viewRoster</string>
    </void>
   </object>
   <object idref="ActivationBarNode17"/>
   <object idref="ActivationBarNode18"/>
  </void>
  <void method="connect">
   <object class="com.horstmann.violet.CallEdge">
    <void property="middleLabel">
     <string>requestRoster</string>
    </void>
   </object>
   <object idref="ActivationBarNode18"/>
   <object idref="ActivationBarNode19"/>
  </void>
  <void method="connect">
   <object class="com.horstmann.violet.ReturnEdge">
    <void property="middleLabel">
     <string>returnRoster</string>
    </void>
   </object>
   <object idref="ActivationBarNode19"/>
   <object idref="ActivationBarNode18"/>
  </void>
  <void method="connect">
   <object class="com.horstmann.violet.ReturnEdge">
    <void property="middleLabel">
     <string>returnRoster</string>
    </void>
   </object>
   <object idref="ActivationBarNode18"/>
   <object idref="ActivationBarNode17"/>
  </void>
  <void method="connect">
   <object class="com.horstmann.violet.CallEdge">
    <void property="middleLabel">
     <string>viewRoster</string>
    </void>
   </object>
   <object idref="ActivationBarNode20"/>
   <object idref="ActivationBarNode21"/>
  </void>
  <void method="connect">
   <object class="com.horstmann.violet.CallEdge">
    <void property="middleLabel">
     <string>requestRoster</string>
    </void>
   </object>
   <object idref="ActivationBarNode21"/>
   <object idref="ActivationBarNode22"/>
  </void>
  <void method="connect">
   <object class="com.horstmann.violet.ReturnEdge">
    <void property="middleLabel">
     <string>returnRoster</string>
    </void>
   </object>
   <object idref="ActivationBarNode22"/>
   <object idref="ActivationBarNode21"/>
  </void>
  <void method="connect">
   <object class="com.horstmann.violet.ReturnEdge">
    <void property="middleLabel">
     <string>returnRoster</string>
    </void>
   </object>
   <object idref="ActivationBarNode21"/>
   <object idref="ActivationBarNode20"/>
  </void>
 </object>
</java>
